#about .heading span {
  color: #4d8ead;
}

#about .image {
  width: 350px;
  height: 350px;
}

#about .image img {
  width: 100%;
  height: 100%;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}

#about .image img:hover {
  mix-blend-mode: normal;
}

#about .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2rem;
}

#about .content .tag {
  font-size: 0.9rem;
  color: #1e6485;
  font-weight: 600;
  margin-top: 1rem;
}
#about .content p {
    font-size: 1.3rem;
    margin-top: 1.1rem;
    font-family: var(---robotFont);
    text-align: left;
    color: #111;
    text-transform: none;

}

#about .content .box-container {
    color:#111;
  font-family:var(--greatVibes);
}
#about .content .box-container .box p {
  text-transform: none;
  margin: 0;
  font-size: 1.2rem;
}
#about .content .box-container .box p span {
  color: #1e6485;
  text-transform: capitalize;
  font-weight: 500;
}
